@import './variables.scss';

.about {
    min-height: calc(100vh - 100px);
    background: $bg_dark;
    color: $col_light;
    
    &_wrap {
        display: flex;
        justify-content: space-between;
    }

    &_tx {
        width: 55%;
    }

    &_img {
        width: 40%;
    }
}

@media screen and (max-width: 960px) {
    .about {
        &_wrap {
            flex-direction: column-reverse;
        }
        &_tx {
            width: 100%;
        }
    
        &_img {
            margin-bottom: 20px;
            width: 100%;
        }
    }
}