@import './variables.scss';

.contact { 
    min-height: calc(100vh - 100px);
    background: $bg_dark;
    color: $col_light;
}
.title {
  margin-bottom: 30px;
  font-weight: 500;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 1200px) and (min-width: 960px) {
    .article_adr {
      padding-left: 40px;
    }
}

@media screen and (max-width: 960px) {
  .wrap {
    flex-direction: column;
  }
  .article_adr {
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px #fff;
  }
  .article_form {
    width: 100%;
  }
}
