@import './variables.scss';

.offer {
    background: $bg_dark;
    color: $col_light;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.article {
    width: 30%;
    padding: 20px;
    border: solid 1px black;
}
.title {
    font-family: $font_monts;
    font-size: 1.5rem;
    font-weight: 700;
  }
.offer_list {
    list-style: square outside;
    font-size: 1.4rem;
    li {
        padding: 5px 0;
    }
}
.icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .container {
        display: block;
    }
    .title {
        position: relative;
        padding: 20px 0;
        margin: 20px 0;
        border: solid 1px #fff;

        &:after {
            content: "";
            display: block;

        }
    }
    
    .offer_list {
        display: none;
    }
    .icon {
        display: inline-block;
    }
}