@import './variables.scss';

.services {
    min-height: calc(100vh - 100px);
    background: $bg_dark;
    color: $col_light;
}

.service {
    position: relative;
    width: 29%;
    margin: 20px;
    border: solid 1px black;
    border-radius: 4px;

    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    h4 {
        text-align: center;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
    }
}

.image {
    display: block;
    width: 50px;
    margin: auto;
    
}
.icon {
    top: 0px;
    width: 50px;
    height: 50px;
    color : #fff;
}
.icon_wrap {
    //display: block;
    //position: absolute;
    //top: -150px;
    background: yellow;
    border: solid 1px red;
}