//FONTS
$font_monts:'Montserrat', sans-serif;
$font_ralew: 'Raleway', sans-serif;

//TEXT-COLOR

$col_dark: rgb(114, 106, 106);
$col_light: rgb(244, 244, 248);

//BGCOLOR
$bg_light: #fff;
$bg_dark: rgb(13, 5, 41);

//BORDER RADIUS
$inp_rad: 4px;
